/* Custom range slider styles */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 4px;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.range-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  opacity: 0;
  border: none;
  background: transparent;
}
